@model IEnumerable<Company.Service.Interfaces.Dto.DepartmentDto>
@{
    ViewData["Title"] = "Index";
}

<a asp-controller="Department" asp-action="Create" class="btn btn-primary">Create New Department</a>
@* <div class="mt-5 alert alert-dark"> *@
@*     <h3>@TempData["TextTempMessage"]</h3> *@
@* </div> *@
@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Code)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.CreateAt)</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Code</td>
                <td>@department.Name</td>
                <td>@department.CreateAt</td>
                <partial model="@department.Id.ToString()" name="_ActionButtonsPartialView"/>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class = "mt-5 alert alert-warning">
        <h3>There are no Departments</h3>
    </div>
}