<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width"/>
    <Title>@ViewBag.Title</Title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<header>
    <center>
        @* 1. Html Tag *@
        @* <a href="/Home/Index" class="btn btn-primary">Home</a> *@
        @* <a href="/Home/AboutUs" class="btn btn-dark">AboutUs</a> *@
        @* <a href="/Home/ContactUs" class="btn btn-danger">ContactUs</a> *@
        @* <a href="/Home/Privacy" class="btn btn-secondary">Privacy</a> *@
        @* 2. Html Helper *@
        @* @Html.ActionLink("Home", "Index","Home",null,new {@class = "btn btn-primary"}) *@
        @* @Html.ActionLink("AboutUs", "AboutUs","Home",null,new {@class = "btn btn-dark"}) *@
        @* @Html.ActionLink("ContactUs", "ContactUs","Home",null,new {@class = "btn btn-danger"}) *@
        @* @Html.ActionLink("Privacy", "Privacy","Home",null,new {@class = "btn btn-secondary"}) *@
        @* 3. Tag Helper *@
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
        <a asp-controller="Home" asp-action="AboutUs" class="btn btn-dark">AboutUs</a>
        <a asp-controller="Home" asp-action="ContactUs" class="btn btn-danger">ContactUs</a>
        <a asp-controller="Home" asp-action="Privacy" class="btn btn-secondary">Privacy</a>
    </center>
</header>

<div>
    @RenderBody()
</div>
<footer class="fixed-bottom">
    <center>
        Copyrights &copy; Omar Khalid @DateTime.Now.Year
    </center>
</footer>
</body>
</html>